<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lms.kh.model.dao.Class_DaoImpl">

	<!-- 과정 개설 -->

	<insert id="insertClass" parameterType="java.util.Map">
		INSERT INTO CLASS (CL_SEQ, CL_TITLE, CL_DESC)
	        VALUES (CLASS_SEQ.NEXTVAL, #{cl_title}, #{cl_desc})
	</insert>
	
	<!-- 과정 전체 조회 -->
	<select id="classList" parameterType="class_Dto">
		SELECT CL_SEQ, CL_TITLE
			FROM CLASS
	</select>
	
	<!-- 과정 상세조회 -->
	<select id="classDetail" parameterType="java.lang.Integer" resultType="class_Dto">
		SELECT CL_TITLE, CL_DESC
			FROM CLASS
			WHERE CL_SEQ = #{seq}
	</select>
</mapper>