<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lms.kh.model.dao.ILMS_DaoImpl">

	<!-- 선택한 회원을 강사로 등록할 수 있다  -->
	<insert id="registTeacher" parameterType="java.lang.String">
		INSERT INTO TEACHER (TE_SEQ, USERID, REGDATE)
			VALUES (TEACHER_SEQ.NEXTVAL, #{userid}, SYSDATE)
	</insert>
	
	<!-- 등록된 강사를 전체조회할 수 있다. -->
	<select id="teacherList" resultType="teacher_Dto">
		SELECT TE_SEQ, USERID, l.NAME, l3.LE_TITLE 
			FROM TEACHER t JOIN LMSUSER l USING(USERID)
				LEFT JOIN LT_LINK l2 USING(TE_SEQ)
				LEFT JOIN LECTURE l3 USING(LE_SEQ)
	</select>
</mapper>
